<div class='d-flex'>
  <div class='rounded p-2 m-1 end-0'>
    <span class='align-middle'>User:</span>
  </div>
  <div class='rounded bg-primary p-2 m-1 end-0 message'>
    <span class='align-middle'><%= messages.content%></span>
  </div>
</div>

