/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";


.main-wrapper {
  height: 100vh;
}

.user-section {
  height: 15vh;
}

.form-section {
  height: 20vh;
}

.user-appearance {
  height: 65vh;
  overflow: scroll;
  .user-chat-wrapper {
    height: 20%;
    width: 100%;
    &:hover {
      background-color: black;
      color: white;
      border-radius: 15px;
    }
  }
}

.add-button {
  width: 100%;
}

.chat-box {
  .chat-box-info {
    height: 10vh;
  };
  .chat-box-view {
    height: 80vh;
    background-color: whitesmoke;
    overflow: scroll;
    .message {
      color: white;
      height: fit-content;
      width: fit-content;
    }
    .sender {
      float: right;
    }
  };
  .chat-box-input {
    height: 10vh;
  };
}

